body {
  background: url('http://www.desktop-screens.com/data/out/94/3351595-rise-against-wallpapers.jpg') no-repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  letter-spacing: 5px;
}

.container {
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

.mainButton {
  margin-top: 5px;
  color: #fff;
  border-radius: 0;
  background: none;
  border: 2px solid #fff;
  height: 40px;
}

.mainButton:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
}

.mainButton:active {
  transform: translateY(2px);
}

.link {
  color: orange;
  border-radius: 0;
  background: none;
  border: 2px solid orange;
  height: 40px
}

.link:visited {
  color: orange;
}

.link:hover {
  transform: scale(1.05);
  color: orange;
  -webkit-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
}

.link:active {
  transform: translateY(2px);
  color: orange;
}

.mainHeader {
  font-size: 60px;
  margin-top: 25px;
  text-transform: uppercase;
  -webkit-text-shadow: 5px 5px 10px black;
  -moz-text-shadow: 5px 5px 10px black;
  -o-text-shadow: 5px 5px 10px black;
}

#mainTitle {
  font-size: 70px;
  font-family: 'Nothing You Could Do', cursive;
}

.mainP {
  font-size: 35px;
  text-shadow: 5px 5px 10px black;
}

.middle-cont {
  background-color: #182a34;
  height: 405px;
  width: 100%;
  -moz-width: 100%;
  visibility: hidden;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.6);
}

#slider img {
  height: 405px;
  width: 100%;
 
}

#slider {
  height: 405px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  -webkit-position: absolute;
  -moz-position: absolute;
}

.slider-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-weight: bold;
  background: 7f7f7f;
  background: rgba(0, 0, 0, 0.9);
}

.slider-text h3 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 50px;
}

.slider-text p {
  font-family: 'Anonymous Pro', monospace;
  letter-spacing: 3px;
}

.date {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  font-size: 25px;
  color: orange;
}